Repository Chulstro/crate, pull requests merged in 2020-10, with the labels that each got.

#33 Feature/survey start
  code/web/src/modules/common/header/Header.js
  code/web/src/modules/survey/Survey.js
  code/web/src/modules/survey/api/actions.js
  code/web/src/modules/survey/api/state.js
  code/web/src/setup/routes/user.js
Labels: FE, enhancement, survey

#36 Feature/survey redux setup
  code/api/src/modules/product/model.js
  code/web/src/modules/crate/Item.js
  code/web/src/modules/survey/Survey.js
  code/web/src/modules/survey/api/actions.js
  code/web/src/modules/survey/api/state.js
  code/web/src/setup/store.js
Labels: FE, enhancement, styling, survey

#48 Feature/card display
  code/api/src/seeders/5-surveyProducts.js
  code/web/src/modules/crate/Item.js
  code/web/src/modules/survey/Survey.js
  code/web/src/modules/survey/api/actions.js
  code/web/src/modules/survey/api/state.js
Labels: FE, enhancement, survey

#52 Cleanup
  code/api/src/seeders/5-surveyProducts.js
  code/web/src/modules/common/header/Header.js
  code/web/src/modules/crate/Item.js
  code/web/src/modules/survey/Survey.js
  code/web/src/modules/survey/api/actions.js
  code/web/src/modules/user/Profile.js
  code/web/src/modules/user/api/actions.js
Labels: Fullstack, styling, survey
